body {
    background-color: whitesmoke
}

#admin-navbar {
    background-color: #5f2cbe;
    max-width: none;
}

div ul {
    display: flex;
    padding-right: 10%;
}

.admin-link {
    color: whitesmoke;
    background-color: #5f2cbe;
    padding-top: 0;
    padding-bottom: .1rem;
    padding-left: .3rem;
    padding-right: .3rem;
    border-radius: 0.1rem;
}

    .admin-link:hover {
        background-color: whitesmoke;
        color: #5f2cbe;
    }

.create-link {
    text-decoration: none;
    color: #5f2cbe;
    border: #5f2cbe solid 2px;
    border-radius: .4rem;
    padding: .2rem;
}

    .create-link:hover {
        color: whitesmoke;
        background-color: #5f2cbe;
    }

.inline-links {
    text-decoration: none;
    color: #5f2cbe;
    /*border: #5f2cbe solid 2px;*/
    border-radius: .3rem;
    padding: .1rem .2rem;
    padding-top: 0;
}

    .inline-links:hover {
        color: whitesmoke;
        background-color: #5f2cbe;
    }

#user-navbar {
    background-color: #dec5f5;
    font-size: 1.1rem;
}

    #user-navbar a, #user-navbar button {
        color: #7a443a;
    }

        #user-navbar a:hover {
            background-color: #dec5f5;
        }







/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
