@model SchoolApp.Entities.SchoolClass

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center display-4 mt-3 mb-5">
    @Html.DisplayFor(model => model.ClassName)
</h1>

<div class="d-grid gap-3">
    <div class="row">
        <div class="col-sm-3 mb-4">
            <div class="card">
                <img src="~/images/teacher3.png" class="card-img-top" style="border-radius: 50%;">
                <div class="card-body">
                    <p>@Html.DisplayFor(model => model.Teacher.DisplayName)"DisplayName"</p>
                    <p>"Role"</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-4">
            <div class="card">
                <img src="~/images/student1.png" class="card-img-top" style="border-radius: 50%;">
                <div class="card-body">
                    <p>"DisplayName"</p>
                    <p>"Role"</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-4">
            <div class="card">
                <img src="~/images/student2.png" class="card-img-top"style="border-radius: 50%;">
                <div class="card-body">
                    <p>"DisplayName"</p>
                    <p>"Role"</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-4">
            <div class="card">
                <img src="~/images/student3.png" class="card-img-top" style="border-radius: 50%;">
                <div class="card-body">
                    <p>"DisplayName"</p>
                    <p>"Role"</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mb-4">
            <div class="card">
                <img src="~/images/student4.png" class="card-img-top" style="border-radius: 50%;">
                <div class="card-body">
                    <p>"DisplayName"</p>
                    <p>"Role"</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mb-4">
            <div class="card">
                <img src="~/images/student5.png" class="card-img-top" style="border-radius: 50%;">
                <div class="card-body">
                    <p>"DisplayName"</p>
                    <p>"Role"</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-4">
            <div class="card">
                <img src="~/images/student6.png" class="card-img-top" style="border-radius: 50%;">
                <div class="card-body">
                    <p>"DisplayName"</p>
                    <p>"Role"</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-4">
            <div class="card">
                <img src="~/images/student7.png" class="card-img-top" style="border-radius: 50%;">
                <div class="card-body">
                    <p>"DisplayName"</p>
                    <p>"Role"</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-3 justify-items-end">
    <a class="create-link" asp-action="Index">Back to List</a>
</div>