@model IEnumerable<AppUser>

<h1 class="display-4 text-center">Users</h1>

<p class="text-end me-5">
    <a class="create-link" asp-action="Create">Create New User</a>
</p>

@* Categorizes the users according to their roles *@
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Administrators</th>
            <th scope="col">Teachers</th>
            <th scope="col">Students</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach (var user in ViewBag.Admins)
                {
                    <div>@user.DisplayName</div>
                }
            </td>
            <td>
                @foreach (var user in ViewBag.Teachers)
                {
                    <div>@user.DisplayName</div>
                }
            </td>
            <td>
                @foreach (var user in ViewBag.Students)
                {
                    <div>@user.DisplayName</div>
                }
            </td>
        </tr>
    </tbody>
</table>