@model SchoolApp.Entities.SchoolClassesStudent

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SchoolClassesStudent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentId" />
            <div class="form-group">
                <label asp-for="SchoolClassId" class="control-label"></label>
                <select asp-for="SchoolClassId" class="form-control" asp-items="ViewBag.SchoolClassId"></select>
                <span asp-validation-for="SchoolClassId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 mb-2">
                <input type="submit" value="Save" class="btn btn-primary pe-2 pt-1 pb-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="create-link" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
